@model IEnumerable<teveguide.Models.db.tv_shows>

@{
    ViewBag.Title = "På teve just nu";
}

<strong>Vi tipsar om dessa program</strong>
<br />
 
<table class="table">
 <tr>
     <td>
         <!--Puff1-->
         @foreach (var item in Model)


            {
                if (item.Id == 1004)
                {
                 <strong>@Html.DisplayFor(modelItem => item.Title)</strong> <br />
                 @Html.DisplayFor(modelItem => item.Substance) <br />
                 @Html.DisplayFor(modelItem => item.Channel) <br />
                 @Html.DisplayFor(modelItem => item.Starttime) <br />
                 @Html.ActionLink("Mer info", "Details", new { id = item.Id })
             }
         }
     </td>



     <td>
         <!--Puff2-->
         @foreach (var item in Model)


            {
                if (item.Id == 15)
                {
                 <strong>@Html.DisplayFor(modelItem => item.Title)</strong> <br />
                     @Html.DisplayFor(modelItem => item.Substance) <br />
                     @Html.DisplayFor(modelItem => item.Channel) <br />
                     @Html.DisplayFor(modelItem => item.Starttime) <br />
                     @Html.ActionLink("Mer info", "Details", new { id = item.Id })
                }
             }
     </td>

     <td>
         <!--Puff3-->
         @foreach (var item in Model)


            {
                if (item.Id == 11)
                {
                 <strong>@Html.DisplayFor(modelItem => item.Title)</strong> <br />
                     @Html.DisplayFor(modelItem => item.Substance) <br />
                     @Html.DisplayFor(modelItem => item.Channel) <br />
                     @Html.DisplayFor(modelItem => item.Starttime) <br />
                     @Html.ActionLink("Mer info", "Details", new { id = item.Id })
                }
            }
     </td>

            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Mer info", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>*@
        </tr>
</table>

