@model IEnumerable<teveguide.Models.db.tv_shows>

@{
    ViewBag.Title = "På teve just nu";
}

<h3>Vi tipsar om dessa program</h3>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

@*Testar att lägga in en länk till en specifik datapost*@
@Html.ActionLink("Puff 1", "Details", new { id = 12 })
@Html.ActionLink("Puff 2", "Details", new { id = 5 })
@Html.ActionLink("Puff 3", "Details", new { id = 21 })

@*<table class="table">
   

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <strong>  @Html.DisplayFor(modelItem => item.Title)</strong>
            </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Substance)
                  
                </td>
                </tr>
                <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Starttime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Channel)
            </td>
                    </tr><tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>*@

