@model IEnumerable<teveguide.Models.db.tv_shows>
@{
    ViewBag.Title = "På TV om två dagar";
}
<h2>@ViewBag.Title</h2>
<h3>@DateTime.Today.AddDays(2)</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Channel)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Starttime > DateTime.Today.AddDays(2) && item.Endtime < DateTime.Today.AddDays(3))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Starttime)
                </td>
                <td>
                    @Html.ActionLink("Mer info", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>
